* {
  font-family: Urbanist, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Urbanist, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #17242a;
  padding: 25px 0;
  gap: 30px;
  color: #efefef;
  font-size: 30px;
}

.logo > img {
  border-radius: 5px;
  transition: transform 0.1s ease;
}

.logo > img:hover {
  border-radius: 5px;
  transform: scale(1.1);
}

.links li {
  list-style-type: none;
  transition: transform 0.1s ease;
}

.links li:hover {
  list-style-type: none;
  text-decoration: underline;
}

.links a {
  text-decoration: none;
  color: #efefef;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
}

.links {
  display: flex;
  font-size: 30px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 22px;
  font-weight: 600;
}

.header-padding {
  padding: 0 200px;
  background-color: #17242a;
}

.opening-padding {
  padding: 60px 200px;
  background-color: #3aafa9;
}

.opening {
  display: flex;
  padding: 100px 0;
  gap: 50px;
  color: #17242a;
}

.opening-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.opening-title {
  font-size: 40px;
  font-weight: 600;
}

.opening-text {
  font-size: 18px;
}

.opening-button button {
  border: none;
  text-decoration: none;
  background-color: #17242a;
  color: #efefef;
  padding: 15px 26px;
  font-size: 15px;
  border-radius: 5px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.opening-button button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.opening-button button:active {
  transform: translateY(3px) scale(1);
  box-shadow: inset 0 4px 3px 2px #000000;
}

.opening-right > img {
  border: 10px solid;
  border-color: #2b7a78;
  border-radius: 5px;
  padding: 10px;
  background-color: #2b7a78;
  transition: transform 0.2s ease;
}

.opening-right > img:hover {
  transform: rotate(10deg);
}

.gallery-padding {
  background-color: #def2f1;
  padding: 20px 200px;
}

.gallery {
  display: flex;
  flex-direction: column;
  padding: 20px 0 40px;
  gap: 30px;
  color: #17242a;
}

.gallery-title {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.gallery-images {
  display: flex;
  text-align: center;
  gap: 20px;
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.customer img {
  border-radius: 5px;
  flex: 1 1 auto;
  aspect-ratio: 3/2;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition: transform 0.1s ease;
  border: 5px solid #2b7a78;
  box-sizing: border-box;
}

.customer img:hover {
  transform: scale(1.1);
}

.quote-padding {
  background-color: #3aafa98c;
  color: #17242a;
  padding: 0 200px;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 200px 10%;
  font-size: 22px;
  gap: 15px;
}

.quote-text {
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-size: 23.5px;
  font-weight: 600;
}

.quote a {
  text-decoration: none;
  color: #17242a;
}

.quote a:hover {
  text-decoration: underline;
}

.order-padding {
  padding: 100px 200px;
  background-color: #def2f1;
}

.order {
  padding: 20px 80px;
  background-color: #3aafa9b3;
  color: #17242a;
  border-radius: 5px;
}

.order-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.order-text {
  font-size: 16px;
  max-width: 80%;
}

.order-right button {
  border: none;
  background-color: #2b7a77ac;
  border-radius: 5px;
  color: #17242a;
  padding: 10px 30px;
  text-wrap: nowrap;
  font-size: 17px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.order-right button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.order-right button:active {
  transform: translateY(3px) scale(1);
  box-shadow: inset 0 2px 3px 1px #17242a;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #17242a;
  color: #efefef  ;
  font-size: 18px;
}

.footer a {
  color: #efefef;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}